.navbar {
  margin-bottom: 0px !important;
}
img {
    max-width: 100%;
    height: auto;
}

.item {
    width: 120px;
    min-height: 120px;
    max-height: 250px;
    max-width: 250px;
    float: left;
    margin: 3px;
    padding: 3px;
}
.rounded-img {
    border-radius: 10% !important;
}